@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ABCMonumentGrotesk;
  font-weight: 400;
  src: url("/fonts/ABCMonumentGrotesk-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Tobias;
  font-weight: 400;
  src: url("/fonts/Tobias-RegularItalic.woff2") format("woff2");
  font-display: swap;
}

::selection {
  background: #00ff19;
}

html,
body {
  background-color: #fbfbfb;
  color: #282828;
}

/**
 * Syntax Highliger
 */
pre {
  font-size: 0.875rem !important;
}
